rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to all collections for the named database
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
