@import "tailwindcss";

/* BLADE MEDIA FONTS */
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('/fonts/YU-Helvetica Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('/fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
}
@font-face {
  font-family: 'Selba-Script';
  src: url('/fonts/Agraham.otf') format('opentype');
}

/* BLADE INNER CIRCLE FONTS */
@font-face {
  font-family: 'Social-Science';
  src: url('/fonts/SocialScienceSans_PERSONAL_USE_ONLY.otf') format('opentype');
}
@font-face {
  font-family: 'Kanila';
  src: url('/fonts/Kanilia.otf') format('opentype');
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --gold: #F3D7A7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  cursor: none;
  overflow-x: hidden;
}